{% extends "shared/templates/bases/tier1_code.jinja2" %}
{% block comment_start %}//{% endblock %}
{% block module_documentation required %}{% endblock %}
{% block module_imports %}{{ content.imports | default([]) | map('text_block') | join('\n') }}{% endblock %}
