{% extends "shared/templates/bases/tier0_root.jinja2" %}
{% block content %}
{% block document_heading required %}{% endblock %}
{% block document_metadata %}{% endblock %}
{% block document_before %}{% endblock %}
{% block document_body required %}{% endblock %}
{% block document_after %}{% endblock %}
{% endblock %}
