{% extends "shared/templates/bases/tier0_root.jinja2" %}
{% block content -%}
{% set body %}{% block tracking_body required %}{% endblock %}{% endset -%}
{% set after %}{% block tracking_after %}{% endblock %}{% endset -%}
{{ [body | text_block, after | text_block] | select | join('\n\n') }}
{%- endblock %}
